@model ASPHome.Models.SignIn
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="margin: 1% 0% 1% 0%;text-align:center">Successfully Registred -Apply HomeLoan <a href="https://localhost:44393/IncomeDetails/Create" />Click Here</a></h2>
<img src="https://economictimes.indiatimes.com/thumb/msid-83033066,width-1200,height-900,resizemode-4,imgsize-202355/home-loan-above-rs-30-lakh-to-rs-75-lakh.jpg?from=mdr" alt="Home Loan" style="height: 330px;margin: 0% 30% 0% 30%" />