@{
    ViewBag.Title = "Message";
}
<div class="text-center" style="margin: 13% 10% 13% 10%;">
    <span>
        <img src="https://us.123rf.com/450wm/vasilyrosca/vasilyrosca1905/vasilyrosca190500082/122353803-vector-approved-seal-rubber-stamp-sign-grunge-approved-isolated-stamp-design-green.jpg?ver=6" alt="Home Loan" style="height:100px;" />
        <h2>Tracking is approved.....</h2>
    </span>
</div>


    <a href="https://localhost:44393/Home">Back to Home</a>
