@{
    ViewBag.Title = "About";
}

<h1>About us</h1>
<div width="75%" cellpadding="5" cellspacing="6" align="center">

    <p style="color:black" ; font-size:"35px" ;align="center">
        <h3>THE KEY TO YOUR DREAM HOUSE IS HERE</h3>
    </p>
    <br />
    <p style="text-align:left;"> Home Loan Express provides... </p>
    <br />
    <p style="text-align:left;"> 1.Low-Interest Rate</p>
    <p style="text-align:left;"> 2.Higher Loan Amount</p>
    <p style="text-align:left;"> 3.Free Credit Card an Insurance</p>
    <p style="text-align:left;">4.Longer Tenures</p>
    <p style="text-align:left;">5.Top-up Loans</p>
    <img src="https://mybayutcdn.bayut.com/mybayut/wp-content/uploads/House-keychain.jpg" alt="home loan" class="center" width="700" height="250" style="display: block;margin-top:-18%" />
</div>
