@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<div width="75%" cellpadding="5" cellspacing="6" align="left">
    <h1 style="text-align:center">Contact Us</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKV2NNGmXJFVt3ely2ayILzppIx8omGC18_A&usqp=CAU" alt="home loan" class="center" width="450" height="222" style="display: block;margin-left: auto;margin-right: auto;" />
    <br>
    <p style="font-size:2vw" align="center">Feel Free To Contact Us For More Information</p>
    <br />
    <p style="text-align:center;"> 1.Bangalore-8976554456-BangaloreBranch@gmail.com</p>
    <p style="text-align:center;"> 2.Chennai-797654456-ChennaiBranch@gmail.com</p>
    <p style="text-align:center;"> 3.Mumbai-997655456-MumbaiBranch@gmail.com</p>
    <p style="text-align:center;">4.Delhi-8974454454-DelhiBranch@gmail.com</p>
</div>