@{
    ViewBag.Title = "Home Page";
}
<h2 style="margin: 1% 0% 1% 0%;text-align:center">Home Loan - Own Home</h2>
<img src="https://www.america-retail.com/static/2020/09/financiamiento-reloj-inversion-crecimiento-monedas-696x464.jpg" alt="Home Loan" style="height: 330px;margin: 0% 30% 0% 30%"/>
<div class="row">
    <div class="col-md-4">
        <br />
        <h3> Bringing Joy of Own Home </h3>
        <p>
            At your finger tip......
        </p>
        <p><a href="https://localhost:44393/SignIns/Login" class="btn btn-primary btn-lg">Apply Now &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <br />
        <h3>Loan Calculator</h3>
        <p>Calculate EMI, Affordability, Tenure & Interest Rate</p>
        <p><a href="https://localhost:44393/Home/calcu" class="btn btn-primary btn-lg">Calculate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <br />
        <h3>Learn More</h3>
        <p>more about and contact details </p>
        <p><a href="https://localhost:44393/Home/Contact" class="btn btn-primary btn-lg">CallUs &raquo;</a></p>
    </div>
</div>