@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center"style="margin: 20% 10% 20% 10%;">
    <img src="~/Images/sucessfullycomleted.jpg" alt="Home Loan" style="height:50px;border-radius:50%" />
          <h2>Completed the home loan Application process!!!</h2>
</div>

@Html.ActionLink("Back To Home", "Index")
